﻿
@{
    ViewBag.Title = "Test2";
}

<h2>Test2</h2>
<form action="/" method="post">
    姓名: @Html.TextBox("Name") <br />
    <br />
    帳號: @Html.TextBox("account") <br />
    <br />
    密碼: @Html.Password("password") <br />
    <br />
    性別: @Html.RadioButton("gender", "0")男性
    @Html.RadioButton("gender", "1")女性 <br />
    <br />
    興趣: @Html.CheckBox("habbies", "swim")游泳 @Html.CheckBox("habbies", "read")閱讀 @Html.CheckBox("habbies", "movie")看電影 <br />
    <br />
    自我介紹: @Html.TextArea("about")




</form>

